<div class="container">
    <h2>Add Customers</h2>
    <form #loginform="ngForm" (ngSubmit)="saveCustomer()">
      <div class="row">  
      <div class="col-md-6">
      <div class="form-group">
        <label for="username">Firstname</label>
        <input class="form-control" type="text" id="firstname" [(ngModel)]="customers.firstname" name="firstname"  required>
      </div>
    </div>
      <div class="col-md-6">
      <div class="form-group">
        <label for="password">Lastname</label>
        <input class="form-control" type="text" id="lastname" [(ngModel)]="customers.lastname" name="lastname"  required>
      </div>
    </div>
</div>

<div class="row">  
    <div class="col-md-6">
        <div class="form-group">
          <label for="username">Session</label>
          <input class="form-control" type="text" id="session" [(ngModel)]="customers.session" name="session"  required>
        </div>
      </div>
        <div class="col-md-6">
        <div class="form-group">
          <label for="password">Phone</label>
          <input class="form-control" type="text" id="phone" [(ngModel)]="customers.phone" name="phone"  required>
        </div>
      </div>
    </div>

    <div class="row">  
        <div class="col-md-6">
            <div class="form-group">
              <label for="username">Joining Data</label>
              <input class="form-control" type="date" id="joiningDate" [(ngModel)]="customers.joiningDate" name="joiningDate"  required>
            </div>
          </div>
            <div class="col-md-6">
            <div class="form-group">
              <label for="password">Amount</label>
              <input class="form-control" type="text" id="amount" [(ngModel)]="customers.amount" name="amount"  required>
            </div>
          </div>
        </div>
        <div class="row">  
          <div class="col-md-6">
              <div class="form-group">
                <label for="username">Email</label>
                <input class="form-control" type="text" id="joiningDate" [(ngModel)]="customers.email" name="joiningDate"  required>
              </div>
            </div>
              
          </div>

      <button class="btn btn-primary" type="submit" >Add Customers</button>
  
      
    </form> <!-- Added form closing tag -->
  </div>
  