<div>
  <label for="search">Search Customers:</label>
  <input type="search" id="search" placeholder="Search customers by name..." [(ngModel)]="searchQuery" >
</div>
<table class="table">
  
    <thead>
      <tr>
        <th >Firstname</th>
        <th >Lastname</th>
        <th >Session</th>
        <th >Phone</th>
        <th>Joining Date</th>
        <th>Amount</th>
        <th>Email</th>
        <th>Action</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Customer of filteredCustomers">
        <td >{{Customer.firstname}}</td>
        <td>{{Customer.lastname}}</td>
        <td>{{Customer.session}}</td>
        <td>{{Customer.phone}}</td>
        <td>{{Customer.joiningDate}}</td>
        <td>{{Customer.amount}}</td>
        <td>{{Customer.email}}</td>
        <td><button type="button" class="btn btn-info" [routerLink]="['/updateCustomer', Customer.phone, Customer]" >Edit</button></td>
        <td><button type="button" class="btn btn-info" (onClick)="deleteCustomers(Customer.phone)">Delete</button></td>

      </tr>
     
    </tbody>
  </table>