<mat-nav-list>
    <mat-list-item>
      <div class="logo py-4">
        <img src="" alt="Gym logo">
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    </mat-list-item>
    <mat-list-item routerLink="/home" routerLinkActive="list-item-active"> Home</mat-list-item>
    <mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"> Dashboard</mat-list-item>
    <mat-list-item routerLink="/login" routerLinkActive="list-item-active"> login</mat-list-item>
    <mat-list-item routerLink="/signup" routerLinkActive="list-item-active"> Signup</mat-list-item>
    <mat-list-item routerLink="/trainers" routerLinkActive="list-item-active"> Trainer</mat-list-item>
    <mat-list-item routerLink="/customers" routerLinkActive="list-item-active"> Customers</mat-list-item>


  </mat-nav-list>
  