<mat-nav-list>
    <div class="logo py-4">
        <img src="" alt="Gym logo">
    </div>
    <mat-divider></mat-divider>
    <ul>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    <li ><a mat-list-item routerLink="/home" routerLinkActive="list-item-active"> Home</a></li>
     <li><a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"> Dashboard</a></li>
     <li><a mat-list-item routerLink="/login" routerLinkActive="list-item-active">Login</a></li>
     <li><a mat-list-item routerLink="/signup" routerLinkActive="list-item-active"> SignUp</a></li>
     <li><a mat-list-item routerLink="/attedance" routerLinkActive="list-item-active">Attedance</a></li>

     <li><a mat-list-item routerLink="/customers" routerLinkActive="list-item-active">Customers</a></li>
     
    </ul>





  </mat-nav-list>                       